[submodule "blockchain/deploy/lib/openzeppelin-contracts"]
	path = blockchain/deploy/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "blockchain/deploy/lib/storage-incentives"]
	path = blockchain/deploy/lib/storage-incentives
	url = https://github.com/ethersphere/storage-incentives
